<<<<<<< HEAD
<div class="jumbotron" style="background-image: url(https://wallpaperscraft.com/image/star_art_sky_night_people_silhouette_98142_1920x1080.jpg); background-size: 100%;"><h1>TripMe</h1>
    <p>Interested in only going where you want to go? Create your own itinerary to your liking!</p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/736x/46/de/dd/46deddeeda3a7ac8aaaa98c41f7f678a.jpg" alt="...">
      <div class="caption">
        <h3>Itinerary List</h3>
        <p>Checkout some of the itineraries already created!</p>
        <p><a href="/songs" class="btn btn-primary" role="button">Show All Itineraries</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://s5.favim.com/orig/54/apple-box-box-man-computer-Favim.com-529433.jpg" alt="...">
      <div class="caption">
        <h3>Create an Itinerary</h3>
        <p>Choose between creating a public or private itinerary.</p>
        <p><a href="/trip/public/new" class="btn btn-primary" role="button">Public Itinerary</a> <a href="/trip/public/new" class="btn btn-primary" role="button">Private Itinerary</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://1.bp.blogspot.com/-bMVKht9C48U/U4s75TwZigI/AAAAAAAAFKs/zB54KwMoeQ8/s1600/little_box_man__3_.jpg" alt="...">
      <div class="caption">
        <h3>My Itineraries</h3>
        <p>Show the itineraries you have already created.</p>
        <p><a href="/mytrips" class="btn btn-primary" role="button">My Itineraries</a></p>
      </div>
    </div>
  </div>
</div>


<h2>This is where the login will go </h2>
<h2> This is also where the user will go after they have created an account</h2>

<form method="post" action="/">

</form>

