<h1> This is where this list of a user's trips will show up </h1>

<%@user.trips.each do |trip| %>
	<a href="/mytrips/<%=trip.id%>"<label>Trip Name:<%=trip.tripname %></label>
		<br>
			<form action='<%= "/alltrips/#{trip.id}/vote"%>' method="post">
		 		<div>
	    		<button type="submit" class="btn">Vote</button>
 			 	</div>
			</form>
				<p>
			  	Votes: <%= trip.votes %>
				</p>
		</br>
<%end %>