
	<label>Trip Name:<%=@trip.tripname %></label>
	</br>
	<label>Trip Destination: <%=@trip.destination %></label>
	</br>
	<label>Trip Start Date<%=@trip.startdate %></label>
	</br>
	<label>Trip End Date<%=@trip.enddate %></label>
	</br>
	</br>
