<h1>Splash Page</h1>

<h1><a href="/user/signin">Sign-in to User Account</a></h1>

<div class="form-group">
	<form method="post" action="/user/signin">
	  <label>Email: <input name="email" class="form-control" type="text" /></label><br/>
	  <label>Password: <input name="password" class="form-control" type="password" /></label>
	  <hr/>
	  <div class="btn-group" role="group" aria-label="...">
  		<button type="submit" class="btn btn-default">Submit</button>
  	</div>
	</form>
</div>

<h4>Don't have an account? Create an account now!</h4>
<a href="/user/signup">Create Account</a>
