
<% if @user && @user.errors.any? %>
  <div>
    <h3><strong>There are some issues with your login:</strong></h3><hr/>
    <ul>
      <% @user.errors.full_messages.each do |user| %>
        <div class="alert alert-danger" role="alert"><li><%= user %></li></div>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron" style="background-image: url(https://wallpaperscraft.com/image/star_art_sky_night_people_silhouette_98142_1920x1080.jpg); background-size: 100%;"><h1>Welcome to TripMe</h1>
    <p>Interested in only going where you want to go? Create your own itinerary to your liking!</p>
</div>

<h1>Sign-in to User Account</h1>

<div class="form-group">
	<form method="post" action="/login">
	  <label>Email: <input name="email" class="form-control" type="text" /></label><br/>
	  <label>Password: <input name="password" class="form-control" type="password" /></label>
	  <hr/>
	  <div class="btn-group" role="group" aria-label="...">
  		<button type="submit" class="btn btn-default">Submit</button>
  	</div>
	</form>
</div>
<h4><a href="/signup">Don't have an account? Create an account now!</a></h4>
